body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
}

* {
    user-select: none;
}

header {
    width: 100%;
    height: 75px;
    box-shadow: 0 0 200px 75px #000;
    background: linear-gradient(135deg, #000 0%, #151515 100%);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 21px 0 21px;
}

.peach {
    width: 37px;
    height: 37px;
}

.shadow_bulbs {
    height: 100%;
}

.white_bulb1, .white_bulb2, .white_bulb3, .white_bulb4, .white_bulb5, .white_bulb6, .white_bulb7, .white_bulb8, .white_bulb9 {
    box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.20);
    border-radius: 100%;
    position: absolute;
    z-index: 4;
}

.white_bulb1 {
    top: 200px;
    left: 1200px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb2 {
    top: 800px;
    left: 100px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb3 {
    top: 1100px;
    left: 1300px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb4 {
    top: 1500px;
    left: 70px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb5 {
    top: 2000px;
    left: 1300px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb6 {
    top: 2300px;
    left: 70px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb7 {
    top: 3000px;
    left: 700px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb8 {
    top: 3100px;
    left: 50px;
    animation: bulb_move1 16s linear infinite;
}

.white_bulb9 {
    top: 3300px;
    left: 1300px;
    animation: bulb_move1 16s linear infinite;
}

@keyframes bulb_move1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(0, 20px);
    }
    75% {
        transform: translate(-10px, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.orange_bulb1, .orange_bulb2, .orange_bulb3, .orange_bulb4, .orange_bulb5, .orange_bulb6, .orange_bulb7 {
    border-radius: 100%;
    box-shadow: 0 0 50px 50px rgba(255, 170, 57, 0.20);
    position: absolute;
    z-index: 4;
}

.orange_bulb1 {
    top: 150px;
    left: 400px;
}

.orange_bulb2 {
    top: 800px;
    left: 1100px;
}

.orange_bulb3 {
    top: 1100px;
    left: 300px;
}

.orange_bulb4 {
    top: 1500px;
    left: 1450px;
}

.orange_bulb5 {
    top: 2500px;
    left: 800px;
}

.orange_bulb6 {
    top: 3100px;
    left: 1000px;
}

.orange_bulb7 {
    top: 3350px;
    left: 300px;
}

.commisions_aside {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.back_but {
    position: absolute;
    top: 100px;
    right: 500px;
}

.commisions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.commision {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    border-radius: 30px;
    background: linear-gradient(180deg, #1a1a1a 0%, #252525 50%, #2e2e2e 100%);
    z-index: 4;
}

.commision_sp {
    margin-top: -42px;
}

.comm_name {
    font-family: work sans;
    font-weight: 500;
    font-size: 18px;
    color: #bab9b9;
    margin-top: -15px;
}

.comm_price {
    font-family: work sans;
    font-weight: 400;
    font-size: 12px;
    color: #838383;
    margin-top: -15px;
}

.comm_price span {
    font-family: work sans;
    font-weight: 300;
    font-size: 36px;
    color: #fff;
}

.comm_desc {
    font-family: work sans;
    font-weight: 400;
    font-size: 12px;
    color: #838383;
    height: 28px;
    margin-top: -15px;
}

.batton {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.6);
    background: linear-gradient(1deg, #ff9200 0%, #c57100 40%, #ffb95b 65%, #ffaa39 100%);
    border-radius: 8px;
    width: 216px;
    height: 30px;
    font-family: work sans;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    transition: 0.25s;
}

.batton:hover {
    transform: scale(1.03);
    box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.6), 0 0 5px 0 rgba(255, 255, 255, 0.5), 0 0 3px 0 #ff9200;
    text-shadow: 0 0 5px #fff;
    transition: 0.25s;
}

.batton:active {
    transform: scale(1.01);
    box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.6), 0 0 3px 0 rgba(255, 255, 255, 0.5), 0 0 1px 0 #ff9200;
}

.commision_sp {
    background: linear-gradient(43deg, #ff9200 0%, #c57100 40%, #ffbc63 62.98%, #ffaa39 100%);
    border-radius: 32px;
    padding: 4px;
}

.comm_sp_p {
    margin-left: 18px;
    font-family: work sans;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.button_ {
    box-shadow: 0 0 100px 1px #fff, 0 0 15px 1px #ffaa39;
    background: linear-gradient(1deg, #ff9200 0%, #c57100 40%, #ffb95b 65%, #ffaa39 100%);
    border-radius: 8px;
    width: 270px;
    height: 50px;
    font-family: work sans;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    transition: 0.25s;
    margin-top: 50px;
    z-index: 3;
}

.button_:hover {
    transform: scale(1.1);
    transition: 0.25s;
    box-shadow: 0 0 150px 1px #fff, 0 0 30px 1px #ffaa39;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}

.button_:active {
    transform: scale(1.05);
    margin-top: 52px;
    box-shadow: 0 0 125px 1px #fff, 0 0 15px 1px #ffaa39;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 75px;
    filter: blur(5px);
}

.sec1 {
    width: 100%;
    min-height: 1057px;
    display: flex;
    justify-content: center;
    background: #121212;
    background: linear-gradient(135deg, #121212 25%, #1a1a1a 25%, #1a1a1a 50%, #121212 50%, #121212 75%, #1a1a1a 75%, #1a1a1a);
    background-size: 40px 40px;
    animation: move 16s linear infinite;
    z-index: 1;
}

@keyframes move {
     0% {
         background-position: 0 0;
     }
     100% {
         background-position: 40px 40px;
     }
}

.get_started_art h1 {
    text-shadow: 0 0 250px #fff, 0 0 10px #ffaa39, 0 0 150px #ff9200;
    font-family: work sans;
    font-weight: 400;
    font-size: 128px;
    color: #fff;
    position: relative;
    top: 108px;
    z-index: 2;
}

.get_started_art p {
    display: flex;
    background: #000;
    border-radius: 50px;
    width: 500px;
    height: 100px;
    font-family: work sans;
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    user-select: none;
    position: relative;
    top: 184px;
    z-index: 2;
}

.get_started_art p:hover {
    font-family: work sans;
    font-weight: 400;
    font-size: 65px;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    box-shadow: 0 0 250px 0 #fff, 0 0 1px 7px rgba(0, 0, 0, 0.31), inset 0 -7px 1px 0 rgba(0, 0, 0, 0.31);
    background: linear-gradient(135deg, #ff9200 0%, #ffbc63 100%);
    border-radius: 50px;
    width: 510px;
    height: 110px;
    transition: 0.25s;
}

.get_started_art p:active {
    text-shadow: 0 0 3px #fff;
    box-shadow: 0 0 150px 0 #fff, 0 0 1px 5px rgba(0, 0, 0, 0.31), inset 0 -5px 1px 0 rgba(0, 0, 0, 0.31);
    top: 187px;
    transition: 0.25s;
}

.background_sec1 {
    position: absolute;
    width: 100%;
    max-height: 1057px;
}

.ola, .namaste, .pryvit, .hello, .aloha, .annyeonghaseyo, .hallo, .bonjour, .nihao, .konnichiwa, .jambo, .ciao {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.5);
    background: #1a1a1a;
    border: 1px solid #ff9200;
    border-radius: 50px;
    text-shadow: 0 0 5px #fff;
    font-family: work sans;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

.ola {
    width: 54px;
    height: 29px;
    position: absolute;
    left: 350px;
    top: 100px;
    animation: move_1 16s linear infinite;
}

@keyframes move_1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(5px, 15px);
    }
    75% {
        transform: translate(-10px, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.namaste {
    width: 109px;
    height: 29px;
    position: absolute;
    left: 750px;
    top: 170px;
    animation: move_2 16s linear infinite;
}

@keyframes move_2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-10px, 5px);
    }
    50% {
        transform: translate(0, 10px);
    }
    75% {
        transform: translate(10px, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.pryvit {
    width: 88px;
    height: 29px;
    position: absolute;
    top: 250px;
    left: 70px;
    animation: move_1 16s linear infinite;
}

.hello {
    width: 73px;
    height: 29px;
    position: absolute;
    top: 290px;
    left: 1000px;
    animation: move_1 16s linear infinite;
}

.aloha {
    width: 77px;
    height: 29px;
    position: absolute;
    top: 330px;
    left: 450px;
    animation: move_2 16s linear infinite;
}

.annyeonghaseyo {
    width: 183px;
    height: 29px;
    position: absolute;
    top: 400px;
    left: 200px;
    animation: move_1 16s linear infinite;
}

.hallo {
    width: 72px;
    height: 29px;
    position: absolute;
    top: 490px;
    left: 1200px;
    animation: move_2 16s linear infinite;
}

.bonjour {
    width: 97px;
    height: 29px;
    position: absolute;
    top: 650px;
    left: 1000px;
    animation: move_1 16s linear infinite;
}

.nihao {
    width: 84px;
    height: 29px;
    position: absolute;
    top: 720px;
    left: 200px;
    animation: move_2 16s linear infinite;
}

.konnichiwa {
    width: 133px;
    height: 29px;
    position: absolute;
    top: 800px;
    left: 550px;
    animation: move_2 16s linear infinite;
}

.jambo {
    width: 86px;
    height: 29px;
    position: absolute;
    top: 870px;
    left: 1200px;
    animation: move_1 16s linear infinite;
}

.ciao {
    width: 64px;
    height: 29px;
    position: absolute;
    top: 950px;
    left: 150px;
    animation: move_2 16s linear infinite;
}

.sec2 {
    width: 100%;
    min-height: 500px;
    box-shadow: 0 0 200px 75px #000;
    background: linear-gradient(135deg, #000 0%, #121212 100%);
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.offer {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer p {
    font-family: work sans;
    font-weight: 300;
    font-size: 24px;
    line-height: 208%;
    text-align: center;
    color: #fff;
}

.sec3 {
    width: 100%;
    min-height: 1411px;;
    position: relative;
    background-color: #2a2a72;
    box-shadow: 0 0.3em 0.8em rgba(0, 0, 0, 0.3), 0 1.5em 2em rgba(0, 0, 0, 0.15);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec3::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: repeating-linear-gradient(45deg, transparent 0, transparent 35px, rgba(255, 146, 0, 0.30) 35px, rgba(255, 146, 0, 0.30) 70px), repeating-linear-gradient(-45deg, transparent 0, transparent 35px, rgba(255, 146, 0, 0.30) 35px, rgba(255, 146, 0, 0.30) 70px), linear-gradient(-45deg, #FF9200, #000000);
}

.sec3_div, .sec3_divs {
    z-index: 2;
}

.sec3_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sec3_divs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
}

.sec3_div, .background_div {
    box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.55), 0 0 25px 0 #ffaa39;
    background: linear-gradient(45deg, #ff9200 0%, #c57100 40.38%, #ffbc63 63.46%, #feab3d 100%);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 662px;
    height: 380px;
}

.background_div h2 {
    font-family: work sans;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}

.sec3_div .background_div div {
    background: linear-gradient(180deg, #1a1a1a 0%, #252525 50%, #2e2e2e 100%);
    border-radius: 32px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    width: 654px;
    height: 289px;
}

.sec3_div .background_div div img {
    width: 700px;
    margin-top: -30px;
}

.sec3_divs .background_div {
    box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.55), 0 0 25px 0 #ffaa39;
    background: linear-gradient(45deg, #ff9200 0%, #c57100 40.38%, #ffbc63 63.46%, #feab3d 100%);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 480px;
}

.sec3_divs .background_div div {
    background: linear-gradient(180deg, #1a1a1a 0%, #252525 50%, #2e2e2e 100%);
    border-radius: 32px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    width: 442px;
    height: 389px;
}

.sec3_divs .background_div div img {
    width: 550px;
    margin-top: -50px;
    margin-left: -50px;
}

footer {
    box-shadow: 0 0 200px 75px #000;
    background: linear-gradient(90deg, #000 0%, #151515 100%);
    width: 100%;
    min-height: 382px;
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.footer_div_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text p {
    font-family: work sans;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}

.best_team {
    background: linear-gradient(90deg, #ffaa39 0%, #b26600 39.9%, #ffbc63 58.65%, #feab3d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.namely {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
}

.namely p {
    font-family: work sans;
    font-weight: 300;
    font-size: 14px;
    background: linear-gradient(90deg, #ffaa39 0%, #b26600 39.9%, #ffbc63 58.17%, #feab3d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.25s;
}

.namely p:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

.footer_div_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_div_right p {
    font-family: work sans;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.footer_div_right img {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.25s;
}

.footer_div_right img:hover {
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.25), 0 0 10px 5px rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

.footer_div_right img:active {
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(255, 255, 255, 0.25)
}
