body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 34.55% at 54.01% 50%, #2e2e2e 0%, #252525 99.99%);
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

header {
    width: 100%;
    height: 75px;
    box-shadow: 0 0 200px 75px #151515;
    background: linear-gradient(90deg, #151515 0%, #202020 100%);
    display: flex;
    align-items: center;
    z-index: 4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 21px 0 21px;
}

.peach {
    width: 37px;
    height: 37px;
}

.burger_menu {
    width: 30px;
    height: 35px;
}

.burger_menu:hover {
    content: url("https://learn.logikaschool.com/uploads/student/5102028/69aaa7af8b16e.png");
    width: 35px;
    height: 40px;
}

.leave_from_me {
    position: absolute;
    top: 90px;
    left: 15px;
    border-radius: 10px;
    width: 217px;
    height: 119px;
    background: linear-gradient(136deg, #2e2e2e 0%, #1a1a1a 100%);
}

.leave_question {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #42434a;
}

.leave_question p {
    font-family: work sans;
    font-weight: 600;
    font-size: 16px;
    color: #7e8590;
}

.leave_answer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leave_answer p {
    font-family: work sans;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #7e8590;
}

.hotbar {
    position: absolute;
    top: 90px;
    left: auto;
    right: 15px;
    border-radius: 50px;
    width: 225px;
    height: 50px;
    background: #2e2e2e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.task_area {
    background: #202020;
    border-radius: 15px;
    width: 652px;
    height: 335px;
    padding: 30px 25px 30px 25px;
}

.task_title h1 {
    font-family: work sans;
    font-weight: 300;
    font-size: 28px;
    color: #ffaa39;
}

.task p {
    font-family: work sans;
    font-weight: 300;
    font-size: 20px;
    color: #99999d;
    border-radius: 50px;
    height: 30px;
    background: #2e2e2e;
    display: flex;
    align-items: center;
    padding-left: 7px;
    margin: 0 0 3px 0;
}

.next_button {
    background: #151515;
    border-radius: 50px;
    width: 145px;
    height: 45px;
    font-family: work sans;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    transition: 0.25s;
    user-select: none;
    z-index: 5;
}

.next_button:hover {
    box-shadow: 0 0 250px 0 #fff, 0 0 1px 4px rgba(0, 0, 0, 0.31), inset 0 -3px 1px 0 rgba(0, 0, 0, 0.31);
    background: linear-gradient(135deg, #ff9200 0%, #ffbc63 100%);
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-shadow: 0 0 5px #fff;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #fff;
    transition: 0.25s;
}

.next_button:active {
    margin-top: 34px;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.31), 0 0 1px 2px rgba(0, 0, 0, 0.31), 0 0 150px 0 #fff;
    transition: 0.25s;
}

footer {
    background-color: #202020;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.task1 {
    background-color: #ff9200;
    height: 25px;
    width: 16%;
}

.task2, .task3, .task4, .task5, .task6 {
    background-color: #2e2e2e;
    height: 25px;
    width: 16%;
}
