body {
    margin: 0;
    width: 100%;
    height: 602px;
    background: #252525;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}

* {
    user-select: none;
}

header {
    width: 100%;
    height: 75px;
    box-shadow: 0 0 200px 75px #151515;
    background: linear-gradient(90deg, #151515 0%, #202020 100%);
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 21px 0 21px;
}

.peach {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.burger_menu {
    transition: 0.25s;
    cursor: pointer;
}

.burger_menu:hover {
    transform: scale(1.08);
    transition: 0.25s;
}

.burger_menu:active {
    transform: scale(1.05);
}

.leave_from_me {
    display: none;
    position: absolute;
    top: 90px;
    left: 15px;
    border-radius: 10px;
    z-index: 5;
    width: 217px;
    height: 119px;
    background: linear-gradient(136deg, #2e2e2e 0%, #1a1a1a 100%);
}

.leave_question {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #42434a;
}

.leave_question p {
    font-family: work sans;
    font-weight: 600;
    font-size: 16px;
    color: #7e8590;
}

.leave_answer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leave_answer p {
    font-family: work sans;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #7e8590;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
}

.task_area {
    background: #202020;
    border-radius: 15px;
    width: 652px;
    height: 235px;
    padding: 30px 25px 30px 25px;
}

.task_title h1 {
    font-family: work sans;
    font-weight: 400;
    font-size: 28px;
    color: #ffaa39;
}

.ita {
    font-style: italic;
}

.itaor {
    font-style: italic;
    color: #ffaa39;
}

.or {
    color: #ffaa39;
}

.ora {
    color: #ffaa39;
    margin-left: 8px;
    margin-right: 8px;
}

.oran {
    color: #ffaa39;
    margin-right: 8px;
}

.task p {
    font-family: work sans;
    font-weight: 300;
    font-size: 20px;
    border-radius: 50px;
    height: 30px;
    color: #99999d;
    background: #2e2e2e;
    display: flex;
    align-items: center;
    padding-left: 7px;
    margin: 0 0 3px 0;
}

.next_button {
    background: #151515;
    border-radius: 50px;
    width: 145px;
    height: 45px;
    font-family: work sans;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    transition: 0.25s;
    user-select: none;
    z-index: 5;
}

.next_button:hover {
    box-shadow: 0 0 250px 0 #fff, 0 0 1px 4px rgba(0, 0, 0, 0.31), inset 0 -3px 1px 0 rgba(0, 0, 0, 0.31);
    background: linear-gradient(135deg, #ff9200 0%, #ffbc63 100%);
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-shadow: 0 0 5px #fff;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #fff;
    transition: 0.25s;
}

.next_button:active {
    margin-top: 34px;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.31), 0 0 1px 2px rgba(0, 0, 0, 0.31), 0 0 150px 0 #fff;
    transition: 0.25s;
}

footer {
    background-color: #202020;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.task1, .task2 {
    background-color: #ff9200;
    height: 25px;
    width: 16%;
}

 .task3, .task4, .task5, .task6 {
    background-color: #2e2e2e;
    height: 25px;
    width: 16%;
}
